* {
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'Champagne';
    src: url('../fonts/Champagne.ttf'); 
}

@font-face {
    font-family: 'Walkway';
    src: url('../fonts/WalkwayCondensed.ttf');
}

body {
	font-family: 'Champagne';
	text-align: center;
	background: url('../img/waterbgblue2.png') center center no-repeat;
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	background-size: cover;
	background-attachment: fixed;
}

body {
	
}

.container-fluid {
	padding: 0px;
	overflow: hidden;
}

.home {
	height: 100%;
	padding: 10% 0;
}

	.header {
		position: fixed;
		padding-top: 20px;
		font-family: sans-serif;
		width: 110%;
		background-color: transparent;
	}

	.header_bg {
		height: 75px;
		position: fixed;
		background-color: #5196C2;
		width: 110%;
		border-bottom: 4px solid #222222;
	}

	.header ul li {
		display: inline-block;
	}
	
	.header_left {
		text-align: left;
		padding-left: 40px;
	}

		.header_left .active {
			padding-bottom: 5px;
			border-bottom: 2px solid black;
			color: black;
		}

		.header_left .inactive {
			padding-bottom: 5px;
			color: #555555;
		}

			.inactive:hover {
				color: #333333;
				border-bottom: 2px solid #777777;
			}

		.header_left li {
			margin: 0px 20px;
		}

		.header_left a {
			text-decoration: none;
		}

#title {
	display: inline-block;
	vertical-align: bottom;
	padding: 20px;
	font-size: 20px;
	margin-bottom: 35px;
}

#inner-content {
	display: inline-block;
}

span {
	font-size: 50px;
	letter-spacing: 5px;
}

.bracket {
	font-family: 'Walkway';
	display: inline-block;
	font-size: 140px;
}

#social ul {
	list-style-type: none;
}

#social li img{
	vertical-align: top;
}

#social ul a {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 20px;
	margin-top: 0px;
}

.about, .portfolio, .resume {
	background: url('../img/ice_age.png');
	font-family: sans-serif;
	font-size: 20px;
	padding: 20px 60px;
	background-color: white;
	width: 100%;
}

.portfolio {
	background-color: grey;
}

.resume {
	background-color: white;
}