* {
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'Champagne';
    src: url('../fonts/Champagne.ttf'); 
}

@font-face {
    font-family: 'Walkway';
    src: url('../fonts/WalkwayCondensed.ttf');
}

body {
	font-family: 'Champagne';
	background: url('../img/binding_dark.png');
	background-repeat: repeat;
	/*color: white;*/ 
	text-align: center;
}

.container-fixed {
	height: 100%;
	background: url('../img/dock.png') no-repeat center center fixed;
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	background-size: cover;
}

#content {
	display: inline-block;
	vertical-align: bottom;
	padding: 20px;
	margin-top: 10%;
}

#inner-content {
	display: inline-block;
}

#title {
	font-size: 20px;
}

span {
	font-size: 50px;
	letter-spacing: 5px;
}

.bracket {
	font-family: 'Walkway';
	display: inline-block;
	font-size: 140px;
}

#social ul a:hover {
	background-color: white;
	border-radius: 100px;
	width: 40px;
	height: 40px;
}

#social ul {
	list-style-type: none;
}

#social ul a {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 20px;
	margin-top: 0px;

}